<div class="panel panel-inverse x-preview-item">
  <div class="panel-heading">
    <a ng-href="{{ base + 'viewer/' + packageId }}" class="pull-right" target="_blank" title="Open in OS Viewer"><i class="fa fa-external-link"></i></a>
    <h3 class="panel-title">{{ package.title || package.name }}</h3>
  </div>
  <div class="panel-body">
    <p ng-if="package.description" class="margin-bottom-8" marked="package.description"></p>
    <p ng-if="!package.description" class="text-muted">This datapackage has no description</p>

    <p ng-if="package.author"><i class="os-icon os-icon-user margin-right-4"></i>{{ package.author }}</p>
    <p ng-if="package.regionCode || package.countryCode || package.cityCode"><i class="os-icon os-icon-location margin-right-4"></i>{{
      [package.regionCode, package.countryCode, package.cityCode] | join
      }}</p>
  </div>
</div>